body{
background-color: rgb(68, 63, 63);
background-size: cover;
background-position: center;
}
p {
    color: blue;
}
.label {
    size: 5cm;
    table-layout: initial;
}
#heading {
    background-color: rgb(44, 88, 44)
    text-size-adjust: 30px;   
}
